# Large PDF files - stored on server only
media/main/files/schatkaarten/schatkaarten-uitleg.pdf
media/main/files/t-sexy-fokschaap/t-sexy-fokschaap-uitleg.pdf
media/main/files/expeditie-eiland/expeditie-eiland-uitleg.pdf
